@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

body {
  margin: 0;
  font-family:comfortaa;
}

#logo {
  margin-right: auto;
  max-height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./processedImages/thumbs/CRISPR.jpg);
}

.categoryButton {
  color: white;
  font-size: xx-large;
  mix-blend-mode: difference;
}

#title {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  top: 10vh;
  left: 50vw;
  max-height: 40vh;
}

#splash #menu {
  position: absolute;
  transform: translateX(-50%);
  bottom: 10vh;
  left: 50vw;
  max-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./processedImages/HQ/CRISPR.jpg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding: 0 2rem;
}

/* social media on top? */
footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

#crossSVG path {
  transform-origin: left;
  will-change: transform;
  transition: 0.3s ease-in;
}
#waveSVG path {
  transform-origin: center;
  will-change: transform;
  transition: 1s ease;
}
#waveSVG.leave path {
  transform: scale(20);
}
#content img {
  max-width: 288px;
  margin: 5px 0;
  border: 1px transparent solid;
  border-radius: 5px;
  object-fit: cover;
}
.selected {
  max-width: 100%;
  /* view height - Header - footer */
  max-height: calc(100vh - 4rem - 4rem);
  object-fit: contain;
}
#content {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category {
  display: flex;
  max-width: 100%;
  background-color: grey;
  /* Prevents columns from alll taking the same height so JS can determine which element to stack */
  align-items: flex-start;
}
.column {
  min-width: 0;
  padding: 5px;
  /* max-width: 700px; */
  display: flex;
  flex-direction: column;
}
#path3 {
  opacity: 0;
}
.open #path3 {
  opacity: 1;
}
.open #path1 {
  transform: rotate(45deg);
}
.open #path2 {
  transform: rotate(-45deg);
}
@media only screen and (max-width: 600px) {
  .column2 {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .column3 {
    display: none;
  }
}




/* CSS for buttons, courtesy of deineko https://codepen.io/deineko/pen/jrmmoQ */

:root {
  --main-bg-color: black;
  --main-text-color: white;
  /* --main-bg-color: #454545;
  --main-text-color: #fff; */
}


button {
  color:var(--main-bg-color);background:transparent;border-width:2px;border-style: solid;border-color: var(--main-bg-color);position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-weight:bold;

}
button:before, button:after {content:'';display:block;position:absolute;border-color:var(--main-bg-color);box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:var(--main-text-color)}
button:hover {color:var(--main-bg-color);background-color:var(--main-text-color);border-color:var(--main-text-color)}
.panel {max-width:960px;text-align:center;position:relative;font-size: large;}


.borderless button {border-color:rgba(0,0,0,0);color:#999}
.borderless button:hover {border-color:#353535;background-color:transparent;color:#353535}
.borderless button:before, .borderless button:after {border-color:transparent;}
.borderless button:hover:before, .borderless button:hover:after {width:calc(100% + 12px); height:calc(100% + 12px);border-color:#353535}

.bw button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}
.bw button:before, .bw button:after  {border-color:#fff}
.bw button:hover:before, .bw button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535;}
.bw button:hover {color:#fff;background-color:#353535;border-color:#353535}
