@import 'slick';
@import 'slick-theme';

::selection {
 background:#67c6b6;
color:#fff
}

::-moz-selection {
 background:#67c6b6;
color:#fff
}

@keyframes fadein {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}

@-moz-keyframes fadein {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}

@-webkit-keyframes fadein {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}

@-o-keyframes fadein {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline
}

body {
line-height:1;
color:black;
background:white
}

:focus {
outline:0
}

table {
border-collapse:collapse;
border-spacing:0
}

caption,th,td {
text-align:left;
font-weight:normal
}

fieldset,img {
border:0
}

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal
}

ol,ul {
list-style:none
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal
}

h3 {
max-width: 800px;
margin-bottom: 10px;
margin-left: 20px;
margin-top: 20px;
font-family: "helvetica";
line-height: 1.3em;
text-transform: none;
letter-spacing: 0px;
font-weight: 600;
font-style: normal;
font-size: 26px;
}

h4 {
max-width: 800px;
margin-bottom: 10px;
margin-left: 20px;
margin-top: 20px;
font-family: "helvetica";
line-height: 1.3em;
text-transform: none;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
font-size: 18px;
}

h6 {
font-family: "helvetica";
line-height: 1.3em;
text-transform: none;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
font-size: 18px;
}

blockquote:before,blockquote:after,q:before,q:after {
content:""
}

blockquote,q {
quotes:"" ""
}

abbr,acronym {
border:0
}

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

img {
max-width:100%;
height:auto;
}

body {
color:#000;
line-height:20px;
font-family: "helvetica";
font-weight:500;
font-size:14px;
letter-spacing:.025em
}

p {
max-width:800px;
margin-bottom:10px;
line-height:21px
}

ul {
line-height:21px
}

h2 {
font-size:18px;
font-weight:100;
line-height:25px
}

a {
text-decoration:none;
color:#67c6b6;
-webkit-transition:color .2s ease-in-out;
-moz-transition:color .2s ease-in-out;
-ms-transition:color .2s ease-in-out;
-o-transition:color .2s ease-in-out
}
a:hover {
color:#000
}
em,strong {
font-weight:700
}
hr {
border-width:1px 0 0 0;
border-color:#eee;
border-style:solid;
margin:30px 0
}
.wave {
display:block;
height:4px;
width:35px;
background-image:url(../images/wave-2x.png);
background-size:auto 4px;
margin:20px 0 25px
}
ul.services,ul.services a {
color:#b3b3b3
}
ul.services a:hover {
color:#000
}
html {
background-color:#fafafb;
background-image:url(../images/MV_AniBlack.gif);
background-size:10rem 10rem;
background-position:center;
background-repeat:no-repeat;
min-height:100%;
overflow-y:scroll
}
html.sidebar-open {
max-height:100%;
overflow:hidden
}
html.sidebar-open body {
overflow:hidden
}

.loading {
height:auto
}

body {
background-color:#fafafb;
-moz-animation:fadein .75s;
-webkit-animation:fadein .75s;
-o-animation:fadein .75s;
animation:fadein .75s;
float:left;
width:100%;
height:100%
}

.container {
max-width:1500px;
margin:0 auto
}
@media only screen and (max-width: 1630px) {
.container {
margin:0 65px
}

}
@media only screen and (max-width: 770px) {
.container {
margin:0 auto;
width:85%
}

}
.page.container {
padding-top:45px;
margin-bottom:65px
}
header {
height:65px;
border-bottom:1px solid #000;
width:100%;
position:fixed;
z-index:30;
top:0;
left:0;
background-color:#ffffff;
-webkit-transition:border 0.5s ease-in-out,background 0.5s ease-in-out;
-moz-transition:border 0.5s ease-in-out,background 0.5s ease-in-out;
-ms-transition:border 0.5s ease-in-out,background 0.5s ease-in-out;
-o-transition:border 0.5s ease-in-out,background 0.5s ease-in-out
}
header.introHeader {
border-bottom:1px solid transparent;
background-color:transparent
}
header .container {
position:relative;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 100%
}
header h1 {
max-width:5rem;
max-height:1.5rem;
width:auto;
height:auto;
left:50%;
margin-left:-2.5rem;
position:absolute;
background-color:#000;
opacity:1;
-webkit-transition:background .2s,opacity 1s;
-moz-transition:background .2s,opacity 1s;
-ms-transition:background .2s,opacity 1s;
-o-transition:background .2s,opacity 1s;
line-height:19px
}
header.introHeader h1 {
background-color:transparent;
opacity:0
}
header h1:hover {
background-color:#67c6b6
}
header .right {
text-align:right
}
header .right a {
margin-left:30px
}
header .left {
}
header .left a {
margin-right:30px
}
header a,header .filter-work,.filters li a {
color:white;
text-transform:uppercase;
font-weight:700;
font-size:11px;
letter-spacing:.05em;
cursor:pointer;
-webkit-transition:color .2s,opacity .2s;
-moz-transition:color .2s,opacity .2s;
-ms-transition:color .2s,opacity .2s;
-o-transition:color .2s,opacity .2s
}

header .filter-work,.filters li a {
color:white;
text-transform:uppercase;
font-weight:700;
font-size:13px;
letter-spacing:.05em;
cursor:pointer;
-webkit-transition:color .2s,opacity .2s;
-moz-transition:color .2s,opacity .2s;
-ms-transition:color .2s,opacity .2s;
-o-transition:color .2s,opacity .2s
}

header a.scrolled {
	color:black;
}
@media only screen and (max-width: 675px) {
header .filter-work {
display:none
}

}
header .filter-work span {
display:inline-block;
width:7px;
height:4px;
margin:0px 0 2px 9px;
background-image:url(../images/down-arrow-sm-2x.png);
background-size:100%;
background-color:#000;
-webkit-transition:background-color .2s;
-moz-transition:background-color .2s;
-ms-transition:background-color .2s;
-o-transition:background-color .2s
}
header .filter-work.open {
color:#b3b3b3
}
header .filter-work.open span {
background-image:url(../images/up-arrow-sm-2x.png);
background-color:#b3b3b3
}
header a:hover,header .filter-work:hover,header .about-me:hover {
color:#67c6b6
}
header.introHeader a:hover,header.introHeader .filter-work:hover {
color:#000;
opacity:.3
}
header .filter-work:hover span {
background-color:#67c6b6
}
header .about-me {
width:5rem;
height:1.5rem;
display:inline-block;
cursor:pointer;
vertical-align:bottom;
margin-left:1.5rem
}

@media only screen and (max-width: 450px) {
header .about-me {
display:none
}

}
.filters {
max-height:0px;
position:fixed;
top:64px;
width:100%;
overflow:hidden;
background-color:#fafafa;
border-top:1px solid #000;
z-index:15;
-webkit-transition:max-height 0.35s,border 0.35s ease-out,background 0.35s ease-out;
-moz-transition:max-height 0.35s,border 0.35s ease-out,background 0.35s ease-out;
-ms-transition:max-height 0.35s,border 0.35s ease-out,background 0.35s ease-out;
-o-transition:max-height 0.35s,border 0.35s ease-out,background 0.35s ease-out
}
@media only screen and (max-width: 675px) {
.filters {
display:flex
}

}
header.introHeader ~ .filters {
border-top:1px solid transparent;
border-bottom:1px solid transparent;
background-color:transparent
}
.filters ul {
justify-content:space-between;
display:flex;
padding-top:22px;
padding-bottom:22px;
-webkit-transition:background 0.35s ease-out,border 0.35s ease-out;
-moz-transition:background 0.35s ease-out,border 0.35s ease-out;
-ms-transition:background 0.35s ease-out,border 0.35s ease-out;
-o-transition:background 0.35s ease-out,border 0.35s ease-out;

}
header.introHeader ~ .filters ul {
background-color:transparent
}
.filters.open {
max-height:66px
}
.filters li {
display:flex;
float:none
}
.filters li a {
color:#000;
font-weight:500
}
.filters li.active a,.filters li a:hover {
color:#67c6b6
}

footer {
background-color:#fff;
float:left;
width:100%;
height:65px;
border-top:1px solid #000;
position:fixed;
bottom:0px;
left:0px;
text-transform:uppercase;
font-size:11px;
line-height:15px;
letter-spacing:.05em;
z-index:15
}
@media only screen and (max-width: 1000px) {
footer {
position:static;
height:auto;
padding:20px 0 40px
}

}
footer .container {
position:relative
}
footer li,footer address {
display:inline-block
}
footer a,footer address,footer label {
color:#000;
font-weight:700
}
footer a:hover {
color:#67c6b6
}
@media only screen and (max-width: 770px) {
footer .container>div {
border-bottom:1px solid #eee;
padding-bottom:25px
}

}
footer #newsForm input[type=text] {
width:108px;
padding:0 10px 3px 0;
border-bottom:1px solid #ccc
}
@media only screen and (max-width: 450px) {
footer #newsForm input[type=text] {
border-bottom:none
}

}
.contact_me {
width:210px;
padding-right:20px;
top:24px;
left:0px;
position:absolute;
cursor:pointer
}
@media only screen and (max-width: 1000px) {
.contact_me {
position:static;
float:left;
width:25%;
margin-top:25px;
padding-right:0px
}

}
@media only screen and (max-width: 770px) {
.contact_me {
width:100%
}

}

.overlay {
background-color:transparent;
display: none;
}

.overlay.active {
position:fixed;
display:block;
top:0;
left:0;
width:100%;
height:100%;
z-index:40;
background-color:rgba(0,0,0,0.5);
-webkit-transition:background-color .2s;
-moz-transition:background-color .2s;
-ms-transition:background-color .2s;
-o-transition:background-color .2s
}

.overlay_top {
	width:100%;
	height:100%;
}

.overlay_container {
position:relative;
top:5%;
left:5%;
width:90%;
height:90%;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
z-index:22;
z-index:21;
}

.overlayimagecontrol {
width:100%;
height:100%;
}

.overlayform {
width:100%;
height:100%;
display:flex;
justify-content: center;
}

.img-wrap-overlay {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
position: absolute;
top: 0;
left: 0;
height:100%;
overflow:hidden;
-webkit-transition:opacity .2s ease-out;
-moz-transition:opacity .2s ease-out;
-ms-transition:opacity .2s ease-out;
-o-transition:opacity .2s ease-out
}

.img-wrap-left-overlay {
position: absolute;
top: 48%;
left:-5%;
width:4%;
overflow:hidden;
cursor: pointer;
}

.img-wrap-right-overlay {
position: absolute;
top: 48%;
left: 101%;
width:4%;
overflow:hidden;
cursor: pointer;
}

.img-wrap-up-overlay {
position: absolute;
top: -6%;
left: 48%;
width:4%;
overflow:hidden;
cursor: pointer;
}

.img-wrap-down-overlay {
position: absolute;
top: 99%;
left: 48%;
width:4%;
overflow:hidden;
cursor: pointer;
}

.overlayimage {
max-width: 100%;
max-height: 100%;
background: white;
}

.overlay_container form {
width: 75%;
position:relative;
display:flex;
background-color: white;
flex-direction:column;
align-items:center;
background-size: 100% 100%;
background-image: url("./../images/SciIllustration/mouse02 copy.png");
}

.overlay_container form ul {
width:66%;
height:100%;
flex-direction:column;
display:flex;
}

.overlay_container form ul li {
height: 15%;
}

.overlay_container form ul .emf-li-post-button {
	height:auto;
}

.overlay_container form ul .emf-field-textarea {
	height:50%;
}

.overlay_container form input {
border:1px solid #ccc;
display:block;
width:90%;
height: 50%;
}

.overlay_container form textarea {
border:1px solid #ccc;
display:block;
width:90%;
height: 100%;
}

.emf-div-field {
height:75%;
}

.overlay_container form .emf-div-field span {
padding:0;
width:49.5%;
vertical-align:top;
display: inline-block;
height: 100%;
}

.overlay_container .emf-head-widget {
width:75%;
}

.overlay_container .emf-bottom-label {
font-style:italic;
font-weight:300;
font-size:16px;
color:#666666;
float:left;
padding-bottom:3px;
text-align:center;
display:block;
height: 50%;
}

.backgroundOverlay{
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
}

.closebutton {
    font: 200% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
	cursor: pointer;
	z-index:31;
}

.closebutton:hover {
	color:#67c6b6;
}

.contact_me label {
margin-right:12px;
float:left
}
.contact_me input[type=submit] {
height:7px;
width:4px;
text-indent:-9999px;
overflow:hidden;
background-color:#000;
position:absolute;
right:0px;
top:4px;
background-image:url(../images/right-arrow-sm-2x.png);
background-size:100%;
cursor:pointer
}
.contact {
text-align:center;
width:100%;
margin-top:21px;
float:left;
padding:0 105px 0 210px
}
@media only screen and (max-width: 1000px) {
.contact {
text-align:left;
width:50%;
float:left;
padding:0
}

}
@media only screen and (max-width: 770px) {
.contact {
width:100%
}

}
@media only screen and (min-width: 1465px) {
.contact {
padding-left:33.33333%;
left:0px;
text-align:left
}

}
.contact li {
margin:0 10px
}
@media only screen and (max-width: 1000px) {
.contact li {
display:block;
text-align:left;
margin:0px
}

}
@media only screen and (max-width: 770px) {
.contact li {
padding-left:0
}

}
.contact li span {
color:#67c6b6;
margin-right:7px
}
footer .container>div.social {
text-align:right;
width:105px;
position:absolute;
right:0px;
top:27px
}
@media only screen and (max-width: 1000px) {
footer .container>div.social {
width:25%;
float:left;
position:static;
margin-top:27px
}

}
@media only screen and (max-width: 770px) {
footer .container>div.social {
text-align:left;
width:100%;
margin-top:25px;
border-bottom:0px;
padding-bottom:0px
}

}
.social ul {
line-height:10px
}
.social li {
margin:0 0 0 13px
}
@media only screen and (max-width: 770px) {
.social li {
margin:0 15px 0 0
}

}
.social li a {
display:block;
height:10px;
background-color:#000;
-webkit-transition:background-color .2s;
-moz-transition:background-color .2s;
-ms-transition:background-color .2s;
-o-transition:background-color .2s
}
.social li img {
height:10px;
width:auto;
display:block;
float:left
}
.social li a:hover {
background-color:#67c6b6
}

.sidescroller {
	position: relative;
	z-index:1;
	padding-top:65px;
	padding-bottom:110px;
	float:left;
	width:100%;
	height:100%;
	background: white;
}

.projects {
padding-top:65px;
padding-bottom:110px;
float:left;
width:100%;
display:flex;
flex-wrap: wrap;
}
@media only screen and (max-width: 450px) {
.projects {
margin:0 auto;
padding-top:10%;
width:100%
}

}
body.work .projects {
padding-top:25px
}
.page.container h2 {
text-align:center;
padding:20px 0
}
.projects>li {
width:30%;
margin-right:2%;
margin-bottom:2%;
height:300px;
float:left;
position: relative;
display: flex;
justify-content: center;
align-items: center;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out
}
@media only screen and (max-width: 770px) {
.projects>li {
width:49%;
margin-right:2%;
padding-bottom:25px
}

}
@media only screen and (max-width: 450px) {
.projects>li {
width:100%;
margin-right:0%;
padding-bottom:25px
}

}
.projects>li:nth-child(3n+3) {
margin-right:0%
}
@media only screen and (max-width: 770px) {
.projects>li:nth-child(3n+3) {
margin-right:0%
}

}
@media only screen and (max-width: 450px) {
.projects>li:nth-child(3n+3) {
margin-right:0%
}

}
@media only screen and (max-width: 770px) {
.projects>li:nth-child(2n+2) {
margin-right:0%
}

}
@media only screen and (max-width: 450px) {
.projects>li:nth-child(2n+2) {
margin-right:0%
}

}
.projects>li a {
width:100%;
height:auto;
display:block
}
.projects>li a {
color:#000
}
.projects li span {
font-size: 200%;
font-weight: bolder;
z-index: 4;
cursor: pointer;
visibility: hidden;
-webkit-transition:color 2s;
-moz-transition:color 2s;
-ms-transition:color 2s;
-o-transition:color 2s;
}

.strokeme
{
color: black;
text-shadow:
-1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
1px 1px 0 #fff;
}

.projects li:hover span {
color:#67c6b6;
visibility: visible;
}



.projects a:hover .img-wrap {
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-moz-opacity:.5;
-khtml-opacity:.5;
opacity:.5;
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0)
}

.projects a:hover img {
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0);
-webkit-filter:grayscale(100%);
-moz-filter:grayscale(100%);
-ms-filter:grayscale(100%);
-o-filter:grayscale(100%);
filter:grayscale(100%);
filter:gray
}

.img-wrap {
width: 100%;
position: absolute;
top: 0;
left: 0;
display:flex;
cursor: pointer;
justify-content: center;
align-items: center;
height:100%;
overflow:hidden;
-webkit-transition:opacity .2s ease-out;
-moz-transition:opacity .2s ease-out;
-ms-transition:opacity .2s ease-out;
-o-transition:opacity .2s ease-out
}

.project-info {
padding:65px 0 45px;
float:left;
width:100%
}
@media only screen and (max-width: 770px) {
.project-info {
padding:9% 0 5%
}

}
@media only screen and (max-width: 770px) {
.project-info .wave {
margin:15px auto 13px
}

}
.project-title {
width:25%;
float:left
}
@media only screen and (max-width: 770px) {
.project-title {
width:100%;
float:none;
text-align:center
}

}
.page.container .project-title h2 {
text-align:left;
padding:0
}
@media only screen and (max-width: 770px) {
.page.container .project-title h2 {
width:100%;
float:none;
text-align:center
}

}
.project-description {
width:50%;
float:right
}
@media only screen and (max-width: 770px) {
.project-description {
width:100%
}

}
.services {
width:16.66667%;
margin-left:8.33333%;
float:left
}
@media only screen and (max-width: 770px) {
.services {
margin-left:0;
width:100%
}

}
@media only screen and (max-width: 770px) {
.services {
margin-bottom:7.5%;
text-align:center
}
.services li {
display:inline-block
}
.services li a:after {
content:', '
}
.services li:last-child a:after {
content:''
}

}
.project-images li {
clear:left;
text-align:center;
margin-bottom:20px
}
@media only screen and (max-width: 450px) {
.project-images li {
margin-bottom:7.5%
}

}
li.image-browser {
background-color:#eee;
width:100%;
padding:7.5%;
display:inline-block
}
@media only screen and (max-width: 450px) {
li.image-browser {
padding:0px
}

}
li.image-browser div {
padding-top:24px;
background-color:#ccc;
border:1px solid #ccc;
margin:0 auto;
max-width:1000px;
overflow:hidden;
position:relative;
background-image:url(../images/browser-btns.png);
background-image:url(../images/browser-btns.svg);
background-repeat:no-repeat;
background-position:8px 8px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px
}
@media only screen and (max-width: 450px) {
li.image-browser div {
padding-top:10px;
background-image:none;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px
}

}
li.image-browser div img {
margin:0 auto;
display:block
}
li.image-logo {
background-color:#eee;
width:100%;
height:650px;
display:table;
text-align:center
}
@media only screen and (max-width: 770px) {
li.image-logo {
height:400px
}

}
@media only screen and (max-width: 450px) {
li.image-logo {
height:auto;
padding:0px
}

}
li.image-logo div {
height:100%;
vertical-align:middle;
display:table-cell
}
.pager {
margin-bottom:130px;
margin-top:45px;
width:100%;
float:left;
font-size:14px
}
.pager .next,.pager .prev {
width:40%;
float:left;
color:#000;
margin-left:-45px
}
@media only screen and (max-width: 770px) {
.pager .next,.pager .prev {
margin-left:0px
}

}
.pager .next {
width:40%;
float:right;
color:#000;
margin-right:-45px
}
@media only screen and (max-width: 770px) {
.pager .next {
margin-right:0px
}

}
.pager .all {
position:absolute;
left:50%;
margin-left:-62px;
width:124px;
text-align:center;
color:#000
}
.pager .all span {
border-bottom:1px solid #000;
display:inline-block;
margin-top:40px;
-webkit-transition:border .2s ease-in-out;
-moz-transition:border .2s ease-in-out;
-ms-transition:border .2s ease-in-out;
-o-transition:border .2s ease-in-out
}
.pager .title {
margin-top:40px
}
@media only screen and (max-width: 1000px) {
.pager .title {
margin:40px 20px 0
}

}
@media only screen and (max-width: 600px) {
.pager .title {
display:none
}

}
.pager .all:hover span {
border-color:#67c6b6
}
.pager a:hover {
color:#67c6b6;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out
}
.pager .arrow {
display:block;
height:13px;
width:25px;
margin-top:43px;
overflow:hidden;
background-color:#000;
background-size:50px 13px;
background-repeat:no-repeat;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
background-image:url(../images/next-prev-2x.png)
}
.pager .next .arrow,.pager .next .img-wrap,.pager .next .title {
float:right
}
.pager .next .arrow {
background-position:-25px 0
}
.pager .prev .arrow,.pager .prev .img-wrap,.pager .prev .title {
float:left
}
.pager .img-wrap {
margin:0 20px
}
@media only screen and (max-width: 1000px) {
.pager .img-wrap {
display:none
}

}
.pager img {
width:150px;
height:100px;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-ms-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out
}
.pager a:hover img {
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-moz-opacity:.5;
-khtml-opacity:.5;
opacity:.5;
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0);
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0);
-webkit-filter:grayscale(100%);
-moz-filter:grayscale(100%);
-ms-filter:grayscale(100%);
-o-filter:grayscale(100%);
filter:grayscale(100%);
filter:gray
}
.pager a:hover .arrow {
background-color:#67c6b6
}
.about {
padding-top:65px;
padding-bottom:65px;
overflow-y:hidden
}
@media only screen and (max-width: 770px) {
.about {
padding-top:10%
}

}
.about img {
display:block
}
.about hr {
margin-bottom:23px
}
.about-info {
width:100%;
float:left
}
.about-general {
float:left;
width:66.66666%;
padding-bottom:75px
}
@media only screen and (max-width: 1000px) {
.about-general {
padding-bottom:0px
}

}
@media only screen and (max-width: 450px) {
.about-general {
float:none;
width:100%
}

}
.about p {
font-size:14px;
line-height:23px
}
@media only screen and (max-width: 770px) {
.about p {
font-size:12px;
line-height:21px
}

}
.disciplines {
width:25%;
float:right
}
@media only screen and (max-width: 770px) {
.disciplines {
clear:left;
padding-top:20px;
float:none;
width:100%
}

}
.disciplines h5 {
font-weight:bold;
text-transform:uppercase;
margin-bottom:10px
}
.sidebar {
width:30%;
position:fixed;
right:-50%;
min-width: 500px;
top:65px;
overflow:hidden;
z-index:21;
background:#fff;
-webkit-overflow-scrolling:touch;
overflow-y:scroll;
overflow-x:hidden;
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-ms-transition:all 0.5s;
-o-transition:all 0.5s;
height:100%;
height:calc(100% - 129px)
}
@media only screen and (max-width: 1000px) {
.sidebar {
height:calc(100% - 64px)
}

}
@media only screen and (max-width: 1000px) {
.sidebar {
width:75%;
right:-75%
}

}
@media only screen and (max-width: 450px) {
.sidebar {
width:calc(100% + 1px);
right:calc(-100% - 1px)
}

}
.sidebar.active {
right:0;
border-left:1px solid #000
}
.sidebar li .img-wrap {
-webkit-transition:opacity .2s;
-moz-transition:opacity .2s;
-ms-transition:opacity .2s;
-o-transition:opacity .2s
}
.sidebar li span {
-webkit-transition:color .2s;
-moz-transition:color .2s;
-ms-transition:color .2s;
-o-transition:color .2s
}
.sidebar li:hover span {
color:#67c6b6
}
.sidebar li:hover .img-wrap {
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0);
-webkit-filter:grayscale(100%);
-moz-filter:grayscale(100%);
-ms-filter:grayscale(100%);
-o-filter:grayscale(100%);
filter:grayscale(100%);
filter:gray;
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-moz-opacity:.5;
-khtml-opacity:.5;
opacity:.5;
-webkit-backface-visibility:hidden;
-webkit-transform:translateZ(0)
}

.sidebar ul {
display: flex;
align-items: center;
flex-direction: column;
}

.sidebar li {
width:100%;
float:left;
align-items: flex-start;
height:30px;
display: flex;
}
@media only screen and (max-width: 770px) {
.sidebar li {
height:125px
}
}

.sidebar-text {
width:100%;
float:left;
max-height:50%;
}

.sidebar-img-wrap {
width:60px;
float:left;
margin:0 10px 0 40px;
max-height:100%;
height:100%;
}
@media only screen and (max-width: 770px) {
.sidebar li .img-wrap {
height:85px
}

}

.journal h2 {
text-align:center
}
.posts {
padding:30px 0
}
.post {
max-width:1000px;
clear:both;
padding-bottom:50px;
overflow-y:hidden;
margin:0 auto
}
.post .date {
display:block;
font-size:11px;
line-height:25px;
border-bottom:1px solid #c8c8c8;
margin-bottom:20px;
padding-bottom:10px
}
.post img {
display:block;
margin:0 auto;
margin-bottom:20px
}
.post p {
font-size:14px;
line-height:25px;
float:left;
width:66%
}
@media only screen and (max-width: 770px) {
.post p {
width:auto
}

}
.post p.tags {
color:#b3b3b3;
float:right;
width:33%;
text-align:right
}
@media only screen and (max-width: 770px) {
.post p.tags {
float:none;
width:auto;
text-align:left
}

}
.posts-loader {
background:#fff;
width:100%;
height:30px
}
header.introStatic,footer.introStatic {
position:relative;
background-color:white;
z-index:10
}
.page.container.noPad {
padding-top:0
}
.intro {
width:100%;
height:100%;
overflow:hidden;
position:fixed;
z-index:0;
top:0;
display:none
}
.subIntro {
position:relative;
width:100%;
background-color:white;
z-index:3;
overflow:hidden
}
.introBody {
background-color:white
}
.introVideo {
position:absolute;
top:0;
left:0;
min-width:100%;
min-height:100%;
height:auto;
width:auto
}
.intro-logo {
width:100%;
text-align:center;
position:fixed;
z-index:1;
top:48%
}
.intro-logo img {
height: auto;
width: auto;
max-width: 250px;
max-height: 300px;
cursor:pointer
}
